{
  "openapi": "3.0.3",
  "info": {
    "title": "Maeven Collections API",
    "version": "1.0.0",
    "description": "API spec with endpoints grouped by tags."
  },
  "servers": [{ "url": "https://api.maevencollections.com" },
              { "url": "http://localhost:3000" }],
  "tags": [
    { "name": "Branches" },
    { "name": "Sales Channels" },
    { "name": "Users" },
    { "name": "Customers" },
    { "name": "Suppliers" },
    { "name": "Categories" },
    { "name": "Products" },
    { "name": "Product Variants" },
    { "name": "Inventories" },
    { "name": "Orders" },
    { "name": "Order Items" },
    { "name": "Payments" },
    { "name": "GCash Fee Rules" },
    { "name": "GCash Transactions" },
    { "name": "Prepaid Load Products" },
    { "name": "Prepaid Load Transactions" },
    { "name": "Purchase Orders" },
    { "name": "Purchase Order Items" },
    { "name": "Purchase Order Estimates" },
    { "name": "Expenses" },
    { "name": "Returns" },
    { "name": "Cash Reconciliation" },
    { "name": "Auth" },
    { "name": "Reports" }
  ],
  "paths": {
    "/api/branches": {
      "get": { "tags": ["Branches"], "summary": "List branches", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Branches"],
        "summary": "Create branch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BranchCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedBranchResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/branches/{id}": {
      "get": { "tags": ["Branches"], "summary": "Get branch", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Branches"], "summary": "Update branch", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Branches"], "summary": "Delete branch", "responses": { "204": { "description": "No content" } } }
    },

    "/api/sales-channels": {
      "get": { "tags": ["Sales Channels"], "summary": "List sales channels", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Sales Channels"],
        "summary": "Create sales channel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SalesChannelCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedSalesChannelResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/sales-channels/{id}": {
      "get": { "tags": ["Sales Channels"], "summary": "Get sales channel", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Sales Channels"], "summary": "Update sales channel", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Sales Channels"], "summary": "Delete sales channel", "responses": { "204": { "description": "No content" } } }
    },

    "/api/users": {
      "get": { "tags": ["Users"], "summary": "List users", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Users"],
        "summary": "Create user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedUserResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/users/{id}": {
      "get": { "tags": ["Users"], "summary": "Get user", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": {
        "tags": ["Users"],
        "summary": "Update user",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedUserResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      },
      "delete": { "tags": ["Users"], "summary": "Delete user", "responses": { "204": { "description": "No content" } } }
    },

    "/api/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "User login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoginResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/customers": {
      "get": { "tags": ["Customers"], "summary": "List customers", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Customers"],
        "summary": "Create customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CustomerCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedCustomerResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/customers/{id}": {
      "get": { "tags": ["Customers"], "summary": "Get customer", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Customers"], "summary": "Update customer", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Customers"], "summary": "Delete customer", "responses": { "204": { "description": "No content" } } }
    },

    "/api/suppliers": {
      "get": { "tags": ["Suppliers"], "summary": "List suppliers", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Suppliers"],
        "summary": "Create supplier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SupplierCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedSupplierResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/suppliers/{id}": {
      "get": { "tags": ["Suppliers"], "summary": "Get supplier", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Suppliers"], "summary": "Update supplier", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Suppliers"], "summary": "Delete supplier", "responses": { "204": { "description": "No content" } } }
    },

    "/api/categories": {
      "get": { "tags": ["Categories"], "summary": "List categories", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Categories"],
        "summary": "Create category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CategoryCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedCategoryResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/categories/{id}": {
      "get": { "tags": ["Categories"], "summary": "Get category", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Categories"], "summary": "Update category", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Categories"], "summary": "Delete category", "responses": { "204": { "description": "No content" } } }
    },

    "/api/products": {
      "get": { "tags": ["Products"], "summary": "List products", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Products"],
        "summary": "Create product",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProductCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedProductResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/products/{id}": {
      "get": { "tags": ["Products"], "summary": "Get product", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Products"], "summary": "Update product", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Products"], "summary": "Delete product", "responses": { "204": { "description": "No content" } } }
    },

    "/api/product-variants": {
      "get": {
        "tags": ["Product Variants"],
        "summary": "List product variants",
        "parameters": [
          { "name": "product_id", "in": "query", "description": "Filter variants by product UUID", "schema": { "type": "string", "format": "uuid" } },
          { "name": "is_active", "in": "query", "description": "Filter active/inactive variants", "schema": { "type": "boolean" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "tags": ["Product Variants"],
        "summary": "Create product variant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProductVariantCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedProductVariantResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/products/{productId}/variants": {
      "get": {
        "tags": ["Product Variants"],
        "summary": "List product variants by product ID",
        "parameters": [
          { "name": "productId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "is_active", "in": "query", "description": "Filter active/inactive variants", "schema": { "type": "boolean" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/product-variants/{id}": {
      "get": { "tags": ["Product Variants"], "summary": "Get product variant", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Product Variants"], "summary": "Update product variant", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Product Variants"], "summary": "Delete product variant", "responses": { "204": { "description": "No content" } } }
    },

    "/api/inventories": {
      "get": { "tags": ["Inventories"], "summary": "List inventories", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Inventories"],
        "summary": "Create inventory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InventoryCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedInventoryResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/inventories/{id}": {
      "get": { "tags": ["Inventories"], "summary": "Get inventory", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Inventories"], "summary": "Update inventory", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Inventories"], "summary": "Delete inventory", "responses": { "204": { "description": "No content" } } }
    },

    "/api/orders": {
      "get": { "tags": ["Orders"], "summary": "List orders", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Orders"],
        "summary": "Create order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrderCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedOrderResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/orders/{id}": {
      "get": { "tags": ["Orders"], "summary": "Get order", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Orders"], "summary": "Update order", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Orders"], "summary": "Delete order", "responses": { "204": { "description": "No content" } } }
    },

    "/api/orders/{orderId}/items": {
      "get": {
        "tags": ["Orders"],
        "summary": "List items for a specific order",
        "parameters": [
          { "name": "orderId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/OrderItem" } }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/api/order-items": {
      "get": { "tags": ["Order Items"], "summary": "List order items", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Order Items"],
        "summary": "Create order item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OrderItemCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedOrderItemResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/order-items/{id}": {
      "get": { "tags": ["Order Items"], "summary": "Get order item", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Order Items"], "summary": "Update order item", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Order Items"], "summary": "Delete order item", "responses": { "204": { "description": "No content" } } }
    },

    "/api/payments": {
      "get": { "tags": ["Payments"], "summary": "List payments", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Payments"],
        "summary": "Create payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedPaymentResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/payments/{id}": {
      "get": { "tags": ["Payments"], "summary": "Get payment", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Payments"], "summary": "Update payment", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Payments"], "summary": "Delete payment", "responses": { "204": { "description": "No content" } } }
    },

    "/api/gcash-fee-rules": {
      "get": { "tags": ["GCash Fee Rules"], "summary": "List GCash fee rules", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["GCash Fee Rules"],
        "summary": "Create GCash fee rule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GCashFeeRuleCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedGCashFeeRuleResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/gcash-fee-rules/{id}": {
      "get": { "tags": ["GCash Fee Rules"], "summary": "Get GCash fee rule", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["GCash Fee Rules"], "summary": "Update GCash fee rule", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["GCash Fee Rules"], "summary": "Delete GCash fee rule", "responses": { "204": { "description": "No content" } } }
    },

    "/api/gcash-transactions": {
      "get": { "tags": ["GCash Transactions"], "summary": "List GCash transactions", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["GCash Transactions"],
        "summary": "Create GCash transaction with fee lookup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GCashTransactionCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedGCashTransactionResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/gcash-transactions/{id}": {
      "get": { "tags": ["GCash Transactions"], "summary": "Get GCash transaction", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } }
    },

    "/api/prepaid-load-products": {
      "get": { "tags": ["Prepaid Load Products"], "summary": "List prepaid load products", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Prepaid Load Products"],
        "summary": "Create prepaid load product",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PrepaidLoadProductCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedPrepaidLoadProductResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/prepaid-load-products/{id}": {
      "get": { "tags": ["Prepaid Load Products"], "summary": "Get prepaid load product", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Prepaid Load Products"], "summary": "Update prepaid load product", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Prepaid Load Products"], "summary": "Delete prepaid load product", "responses": { "204": { "description": "No content" } } }
    },

    "/api/prepaid-load-transactions": {
      "get": { "tags": ["Prepaid Load Transactions"], "summary": "List prepaid load transactions", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Prepaid Load Transactions"],
        "summary": "Create prepaid load transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PrepaidLoadTransactionCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedPrepaidLoadTransactionResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/prepaid-load-transactions/{id}": {
      "get": { "tags": ["Prepaid Load Transactions"], "summary": "Get prepaid load transaction", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } }
    },

    "/api/purchase-orders": {
      "get": { "tags": ["Purchase Orders"], "summary": "List purchase orders", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Purchase Orders"],
        "summary": "Create purchase order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PurchaseOrderCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedPurchaseOrderResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/purchase-orders/{id}": {
      "get": { "tags": ["Purchase Orders"], "summary": "Get purchase order", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Purchase Orders"], "summary": "Update purchase order", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Purchase Orders"], "summary": "Delete purchase order", "responses": { "204": { "description": "No content" } } }
    },
    "/api/purchase-orders-with-totals": {
      "get": {
        "tags": ["Purchase Orders"],
        "summary": "List purchase orders with item totals",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PurchaseOrdersWithTotalsResponse" }
              }
            }
          },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/purchase-order-items": {
      "get": { "tags": ["Purchase Order Items"], "summary": "List purchase order items", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Purchase Order Items"],
        "summary": "Create purchase order item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PurchaseOrderItemCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedPurchaseOrderItemResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/purchase-order-items/{id}": {
      "get": { "tags": ["Purchase Order Items"], "summary": "Get purchase order item", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Purchase Order Items"], "summary": "Update purchase order item", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Purchase Order Items"], "summary": "Delete purchase order item", "responses": { "204": { "description": "No content" } } }
    },

    "/api/purchase-orders/{poId}/estimates": {
      "get": {
        "tags": ["Purchase Order Estimates"],
        "summary": "List estimates for a purchase order",
        "parameters": [
          { "name": "poId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "tags": ["Purchase Order Estimates"],
        "summary": "Create purchase order estimate",
        "parameters": [ { "name": "poId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } } ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PurchaseOrderEstimateCreate" } } }
        },
        "responses": { "201": { "description": "Created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatedPurchaseOrderEstimateResponse" } } } }, "400": { "description": "Bad Request" } }
      }
    },

    "/api/purchase-orders/{poId}/estimates/{id}": {
      "get": { "tags": ["Purchase Order Estimates"], "summary": "Get estimate", "parameters": [ { "name": "poId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }, { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } } ], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Purchase Order Estimates"], "summary": "Update estimate", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Purchase Order Estimates"], "summary": "Delete estimate", "responses": { "204": { "description": "No content" } } }
    },

    "/api/purchase-orders/{id}/variance": {
      "get": {
        "tags": ["Purchase Orders"],
        "summary": "Get estimated vs actual variance for a purchase order",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } } ],
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PurchaseOrderVariance" } } } } }
      }
    },

    "/api/expenses": {
      "get": { "tags": ["Expenses"], "summary": "List expenses", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Expenses"],
        "summary": "Create expense",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExpenseCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedExpenseResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/expenses/{id}": {
      "get": { "tags": ["Expenses"], "summary": "Get expense", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Expenses"], "summary": "Update expense", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Expenses"], "summary": "Delete expense", "responses": { "204": { "description": "No content" } } }
    },

    "/api/returns": {
      "get": { "tags": ["Returns"], "summary": "List returns", "responses": { "200": { "description": "OK" } } },
      "post": {
        "tags": ["Returns"],
        "summary": "Create return",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReturnCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreatedReturnResponse" }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/api/returns/{id}": {
      "get": { "tags": ["Returns"], "summary": "Get return", "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } } },
      "put": { "tags": ["Returns"], "summary": "Update return", "responses": { "200": { "description": "Updated" } } },
      "delete": { "tags": ["Returns"], "summary": "Delete return", "responses": { "204": { "description": "No content" } } }
    },

    "/api/reports/sales": {
      "get": {
        "tags": ["Reports"],
        "summary": "Sales summary grouped by period",
        "description": "Returns sales data (gross sales, net sales, discounts, items sold, order count) grouped by the chosen period. Defaults: daily → last 30 days, weekly → last 12 weeks, monthly → last 12 months, yearly → last 5 years.",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "description": "Grouping period",
            "schema": { "type": "string", "enum": ["daily","weekly","monthly","yearly","custom"], "default": "daily" }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Start date (YYYY-MM-DD). Required when period=custom.",
            "schema": { "type": "string", "format": "date", "example": "2026-06-01" }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End date (YYYY-MM-DD, inclusive). Required when period=custom.",
            "schema": { "type": "string", "format": "date", "example": "2026-06-30" }
          },
          { "name": "branch_id", "in": "query", "description": "Filter by branch UUID", "schema": { "type": "string", "format": "uuid" } },
          { "name": "sales_channel_id", "in": "query", "description": "Filter by sales channel UUID", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "period": { "type": "string", "example": "monthly" },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/SalesPeriodItem" } }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/reports/sales/overview": {
      "get": {
        "tags": ["Reports"],
        "summary": "Sales KPI overview (single-row totals)",
        "description": "Returns aggregated totals for a date range — useful for dashboard KPI cards.",
        "parameters": [
          { "name": "from", "in": "query", "description": "Start date (YYYY-MM-DD)", "schema": { "type": "string", "format": "date", "example": "2026-07-01" } },
          { "name": "to", "in": "query", "description": "End date (YYYY-MM-DD, inclusive)", "schema": { "type": "string", "format": "date", "example": "2026-07-08" } },
          { "name": "branch_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "sales_channel_id", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/SalesOverview" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/reports/sales/payments": {
      "get": {
        "tags": ["Reports"],
        "summary": "Payment method breakdown",
        "description": "Returns total collected amount and transaction count grouped by payment method for a given date range.",
        "parameters": [
          { "name": "from", "in": "query", "description": "Start date (YYYY-MM-DD)", "schema": { "type": "string", "format": "date", "example": "2026-07-01" } },
          { "name": "to", "in": "query", "description": "End date (YYYY-MM-DD, inclusive)", "schema": { "type": "string", "format": "date", "example": "2026-07-08" } },
          { "name": "branch_id", "in": "query", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/PaymentBreakdownItem" } }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/reports/sales/top-products": {
      "get": {
        "tags": ["Reports"],
        "summary": "Top-selling products by revenue",
        "description": "Returns the top N product variants ranked by total revenue within a date range.",
        "parameters": [
          { "name": "from", "in": "query", "description": "Start date (YYYY-MM-DD)", "schema": { "type": "string", "format": "date", "example": "2026-07-01" } },
          { "name": "to", "in": "query", "description": "End date (YYYY-MM-DD, inclusive)", "schema": { "type": "string", "format": "date", "example": "2026-07-08" } },
          { "name": "branch_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "limit", "in": "query", "description": "Max results (default 10, max 100)", "schema": { "type": "integer", "default": 10, "maximum": 100 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/TopProductItem" } }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/reports/cash-reconciliation/daily": {
      "get": {
        "tags": ["Reports"],
        "summary": "Daily cash reconciliation report",
        "description": "Returns the cash reconciliation result for a branch and business date including opening cash, total sales, expected cash, actual cash, and shortage/overage.",
        "parameters": [
          { "name": "branch_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "business_date", "in": "query", "required": true, "schema": { "type": "string", "format": "date", "example": "2026-07-09" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/CashReconciliationDailyReport" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "500": { "description": "Server Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/cash-reconciliations": {
      "get": {
        "tags": ["Cash Reconciliation"],
        "summary": "List cash reconciliations",
        "parameters": [
          { "name": "branch_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/CashReconciliation" } }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/api/cash-reconciliations/{id}": {
      "get": {
        "tags": ["Cash Reconciliation"],
        "summary": "Get cash reconciliation by ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/CashReconciliationDailyReport" }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/cash-reconciliations/open": {
      "post": {
        "tags": ["Cash Reconciliation"],
        "summary": "Encode opening cash breakdown",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CashReconciliationOpenRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/CashReconciliation" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "409": { "description": "Conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      },
      "put": {
        "tags": ["Cash Reconciliation"],
        "summary": "Upsert opening cash breakdown by branch/date",
        "description": "Creates opening cash if none exists for the branch/date, otherwise updates it. Returns 409 when the day is already closed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CashReconciliationOpenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/CashReconciliation" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "409": { "description": "Conflict", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },

    "/api/cash-reconciliations/{id}/close": {
      "post": {
        "tags": ["Cash Reconciliation"],
        "summary": "Encode closing cash breakdown and reconcile",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CashReconciliationCloseRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/CashReconciliation" }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserCreate": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string", "example": "Jane Doe" },
          "phone": { "type": "string", "example": "+1234567890" },
          "email": { "type": "string", "format": "email", "example": "jane@example.com" },
          "password": { "type": "string", "format": "password" },
          "role": { "type": "string", "enum": ["admin", "staff", "cashier"], "example": "staff" },
          "branch_id": { "type": "string", "format": "uuid" },
          "is_active": { "type": "boolean", "default": true }
        },
        "required": ["phone", "password"]
      },
      "UserUpdate": {
        "type": "object",
        "description": "Fields that can be updated for a user. All properties are optional; provide only those to change.",
        "properties": {
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "password": { "type": "string", "format": "password", "description": "Plain-text password; server will hash before saving." },
          "role": { "type": "string", "enum": ["admin", "staff", "cashier"] },
          "branch_id": { "type": "string", "format": "uuid" },
          "is_active": { "type": "boolean" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "role": { "type": "string", "enum": ["admin","staff","cashier"] },
          "branch_id": { "type": "string", "format": "uuid" },
          "is_active": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedUserResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/User" }
        }
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "phone": { "type": "string", "example": "+639088877967" },
          "email": { "type": "string", "format": "email", "example": "jane@example.com" },
          "password": { "type": "string", "format": "password" }
        },
        "required": ["password"],
        "description": "Provide either `phone` or `email` together with `password`."
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/User" }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": false },
          "error": { "type": "string" }
        }
      },
      "BranchCreate": {
        "type": "object",
        "properties": {
          "branch_name": { "type": "string" },
          "address": { "type": "string" },
          "phone": { "type": "string" },
          "is_main": { "type": "boolean", "default": false }
        },
        "required": ["branch_name"]
      },
      "Branch": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "branch_name": { "type": "string" },
          "address": { "type": "string" },
          "phone": { "type": "string" },
          "is_main": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedBranchResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Branch" } } },
      "SalesChannelCreate": {
        "type": "object",
        "properties": {
          "channel_name": { "type": "string" }
        },
        "required": ["channel_name"]
      },
      "SalesChannel": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "channel_name": { "type": "string" }
        }
      },
      "CreatedSalesChannelResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/SalesChannel" } } },
      "CustomerCreate": {
        "type": "object",
        "properties": {
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "customer_type": { "type": "string", "enum": ["online","walk-in"] }
        },
        "required": ["full_name","phone"]
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "full_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "customer_type": { "type": "string", "enum": ["online","walk-in"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedCustomerResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Customer" } } },
      "SupplierCreate": {
        "type": "object",
        "properties": {
          "supplier_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "address": { "type": "string" },
          "supplier_type": { "type": "string", "enum": ["online","physical","both"] },
          "notes": { "type": "string" }
        },
        "required": ["phone"]
      },
      "Supplier": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "supplier_name": { "type": "string" },
          "phone": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "address": { "type": "string" },
          "supplier_type": { "type": "string", "enum": ["online","physical","both"] },
          "notes": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedSupplierResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Supplier" } } },
      "CategoryCreate": {
        "type": "object",
        "properties": {
          "category_name": { "type": "string" },
          "parent_id": { "type": "string", "format": "uuid" }
        },
        "required": ["category_name"]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "category_name": { "type": "string" },
          "parent_id": { "type": "string", "format": "uuid" }
        }
      },
      "CreatedCategoryResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Category" } } },
      "ProductCreate": {
        "type": "object",
        "properties": {
          "product_name": { "type": "string" },
          "description": { "type": "string" },
          "category_id": { "type": "string", "format": "uuid" },
          "brand": { "type": "string" },
          "status": { "type": "string", "enum": ["active","archived"] }
        },
        "required": ["product_name"]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "product_name": { "type": "string" },
          "description": { "type": "string" },
          "category_id": { "type": "string", "format": "uuid" },
          "brand": { "type": "string" },
          "status": { "type": "string", "enum": ["active","archived"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedProductResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Product" } } },
      "ProductVariantCreate": {
        "type": "object",
        "properties": {
          "product_id": { "type": "string", "format": "uuid" },
          "is_active": { "type": "boolean" },
          "sku": { "type": "string" },
          "class": { "type": "string" },
          "product_type": { "type": "string" },
          "brand": { "type": "string" },
          "photo_url": { "type": "string", "format": "uri" },
          "size": { "type": "string" },
          "color": { "type": "string" },
          "price": { "type": "number", "format": "double" },
          "cost_price": { "type": "number", "format": "double" }
        },
        "required": ["product_id"]
        ,
        "example": {
          "product_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "is_active": true,
          "sku": "PV-001",
          "class": "Standard",
          "product_type": "Shirt",
          "brand": "Acme",
          "size": "M",
          "color": "Blue",
          "price": 199.99,
          "cost_price": 120.00
        }
      },
      "ProductVariant": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "product_id": { "type": "string", "format": "uuid" },
          "sku": { "type": "string" },
          "class": { "type": "string" },
          "product_type": { "type": "string" },
          "brand": { "type": "string" },
          "photo_url": { "type": "string", "format": "uri" },
          "size": { "type": "string" },
          "color": { "type": "string" },
          "price": { "type": "number", "format": "double" },
          "cost_price": { "type": "number", "format": "double" },
          "created_at": { "type": "string", "format": "date-time" }
        }
        ,
        "example": {
          "id": "7b9e2d9a-9f6d-4b2b-8f2f-1a2b3c4d5e6f",
          "product_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "is_active": true,
          "sku": "PV-001",
          "class": "Standard",
          "product_type": "Shirt",
          "brand": "Acme",
          "size": "M",
          "color": "Blue",
          "price": 199.99,
          "cost_price": 120.00,
          "created_at": "2026-02-16T12:00:00Z"
        }
      },
      "CreatedProductVariantResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/ProductVariant" } } },
      "InventoryCreate": {
        "type": "object",
        "properties": {
          "branch_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity_on_hand": { "type": "integer" },
          "reorder_level": { "type": "integer" }
        },
        "required": ["branch_id","product_variant_id"]
      },
      "Inventory": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity_on_hand": { "type": "integer" },
          "reorder_level": { "type": "integer" }
        }
      },
      "CreatedInventoryResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Inventory" } } },
      "OrderCreate": {
        "type": "object",
        "properties": {
          "order_number": { "type": "string" },
          "customer_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "sales_channel_id": { "type": "string", "format": "uuid" },
          "order_status": { "type": "string" },
          "total_amount": { "type": "number", "format": "double" },
          "discount_percentage": { "type": "number", "format": "double" },
          "discount_amount": { "type": "number", "format": "double" }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_number": { "type": "string" },
          "customer_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "sales_channel_id": { "type": "string", "format": "uuid" },
          "order_status": { "type": "string" },
          "total_amount": { "type": "number", "format": "double" },
          "discount_percentage": { "type": "number", "format": "double" },
          "discount_amount": { "type": "number", "format": "double" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedOrderResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Order" } } },
      "OrderItemCreate": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity": { "type": "integer" },
          "unit_price": { "type": "number", "format": "double" }
        },
        "required": ["order_id","product_variant_id"]
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity": { "type": "integer" },
          "unit_price": { "type": "number", "format": "double" },
          "subtotal": { "type": "number", "format": "double" }
        }
      },
      "CreatedOrderItemResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/OrderItem" } } },
      "PaymentCreate": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string", "format": "uuid" },
          "payment_method": { "type": "string", "enum": ["cash","gcash","bank_transfer","card","cod"] },
          "amount": { "type": "number", "format": "double" },
          "received_by": { "type": "string", "format": "uuid" }
        },
        "required": ["order_id","payment_method","amount"]
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_id": { "type": "string", "format": "uuid" },
          "payment_method": { "type": "string" },
          "amount": { "type": "number", "format": "double" },
          "received_by": { "type": "string", "format": "uuid" },
          "payment_date": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedPaymentResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Payment" } } },
      "GCashFeeRuleCreate": {
        "type": "object",
        "properties": {
          "service_type": { "type": "string", "enum": ["cash_in","cash_out"] },
          "min_amount": { "type": "number", "format": "double" },
          "max_amount": { "type": "number", "format": "double", "nullable": true },
          "fee_amount": { "type": "number", "format": "double" },
          "is_active": { "type": "boolean", "default": true },
          "effective_from": { "type": "string", "format": "date-time", "nullable": true },
          "effective_to": { "type": "string", "format": "date-time", "nullable": true }
        },
        "required": ["service_type","min_amount","fee_amount"]
      },
      "GCashFeeRule": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "service_type": { "type": "string", "enum": ["cash_in","cash_out"] },
          "min_amount": { "type": "number", "format": "double" },
          "max_amount": { "type": "number", "format": "double", "nullable": true },
          "fee_amount": { "type": "number", "format": "double" },
          "is_active": { "type": "boolean" },
          "effective_from": { "type": "string", "format": "date-time", "nullable": true },
          "effective_to": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedGCashFeeRuleResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/GCashFeeRule" } } },
      "GCashTransactionCreate": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string", "format": "uuid", "nullable": true },
          "branch_id": { "type": "string", "format": "uuid", "nullable": true },
          "customer_id": { "type": "string", "format": "uuid", "nullable": true },
          "service_type": { "type": "string", "enum": ["cash_in","cash_out"] },
          "principal_amount": { "type": "number", "format": "double" },
          "reference_number": { "type": "string" },
          "notes": { "type": "string", "nullable": true }
        },
        "required": ["service_type","principal_amount","reference_number"]
      },
      "GCashTransaction": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_id": { "type": "string", "format": "uuid", "nullable": true },
          "branch_id": { "type": "string", "format": "uuid", "nullable": true },
          "customer_id": { "type": "string", "format": "uuid", "nullable": true },
          "service_type": { "type": "string", "enum": ["cash_in","cash_out"] },
          "principal_amount": { "type": "number", "format": "double" },
          "fee_amount": { "type": "number", "format": "double" },
          "gross_amount": { "type": "number", "format": "double" },
          "cash_impact": { "type": "number", "format": "double" },
          "reference_number": { "type": "string" },
          "fee_rule_id": { "type": "string", "format": "uuid", "nullable": true },
          "received_by": { "type": "string", "format": "uuid", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedGCashTransactionResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/GCashTransaction" } } },
      "PrepaidLoadProductCreate": {
        "type": "object",
        "properties": {
          "carrier": { "type": "string", "enum": ["smart", "tnt", "globe", "tm", "dito", "gomo", "sun"] },
          "product_code": { "type": "string" },
          "product_name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "load_type": { "type": "string", "enum": ["regular", "promo", "data", "combo", "unli", "starter_pack", "other"], "default": "regular" },
          "face_value": { "type": "number", "format": "double" },
          "markup_amount": { "type": "number", "format": "double", "default": 0 },
          "validity_days": { "type": "integer", "nullable": true },
          "is_active": { "type": "boolean", "default": true },
          "source_url": { "type": "string", "nullable": true }
        },
        "required": ["carrier", "product_code", "product_name", "face_value"]
      },
      "PrepaidLoadProduct": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "carrier": { "type": "string", "enum": ["smart", "tnt", "globe", "tm", "dito", "gomo", "sun"] },
          "product_code": { "type": "string" },
          "product_name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "load_type": { "type": "string" },
          "face_value": { "type": "number", "format": "double" },
          "markup_amount": { "type": "number", "format": "double" },
          "validity_days": { "type": "integer", "nullable": true },
          "is_active": { "type": "boolean" },
          "source_url": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedPrepaidLoadProductResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/PrepaidLoadProduct" }
        }
      },
      "PrepaidLoadTransactionCreate": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string", "format": "uuid", "nullable": true },
          "branch_id": { "type": "string", "format": "uuid", "nullable": true },
          "customer_id": { "type": "string", "format": "uuid", "nullable": true },
          "product_id": { "type": "string", "format": "uuid" },
          "recipient_mobile_no": { "type": "string", "example": "09171234567" },
          "reference_number": { "type": "string" },
          "notes": { "type": "string", "nullable": true }
        },
        "required": ["product_id", "recipient_mobile_no", "reference_number"]
      },
      "PrepaidLoadTransaction": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_id": { "type": "string", "format": "uuid", "nullable": true },
          "branch_id": { "type": "string", "format": "uuid", "nullable": true },
          "customer_id": { "type": "string", "format": "uuid", "nullable": true },
          "recipient_mobile_no": { "type": "string" },
          "carrier": { "type": "string", "enum": ["smart", "tnt", "globe", "tm", "dito", "gomo", "sun"] },
          "product_id": { "type": "string", "format": "uuid" },
          "face_value": { "type": "number", "format": "double" },
          "markup_amount": { "type": "number", "format": "double" },
          "gross_amount": { "type": "number", "format": "double" },
          "cash_impact": { "type": "number", "format": "double" },
          "reference_number": { "type": "string" },
          "received_by": { "type": "string", "format": "uuid", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedPrepaidLoadTransactionResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": true },
          "data": { "$ref": "#/components/schemas/PrepaidLoadTransaction" }
        }
      },
      "PurchaseOrderCreate": {
        "type": "object",
        "properties": {
          "supplier_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "po_number": { "type": "string" },
          "status": { "type": "string", "enum": ["draft","estimated","ordered","received","cancelled"] },
          "total_cost": { "type": "number", "format": "double" },
          "shipping_cost": { "type": "number", "format": "double" },
          "tipping_cost": { "type": "number", "format": "double" },
          "miscellaneous_cost": { "type": "number", "format": "double" }
        },
        "required": ["supplier_id","branch_id","po_number","status"]
      },
      "PurchaseOrderEstimateCreate": {
        "type": "object",
        "properties": {
          "product_id": { "type": "string", "format": "uuid" },
          "estimated_quantity": { "type": "integer" },
          "estimated_total_cost": { "type": "number", "format": "double" },
          "notes": { "type": "string" }
        },
        "required": ["product_id","estimated_quantity","estimated_total_cost"]
      },
      "PurchaseOrderEstimate": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "purchase_order_id": { "type": "string", "format": "uuid" },
          "product_id": { "type": "string", "format": "uuid" },
          "estimated_quantity": { "type": "integer" },
          "estimated_total_cost": { "type": "number", "format": "double" },
          "notes": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedPurchaseOrderEstimateResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/PurchaseOrderEstimate" } } },
      "PurchaseOrderVariance": {
        "type": "object",
        "properties": {
          "purchase_order_id": { "type": "string", "format": "uuid" },
          "estimated_total": { "type": "number", "format": "double" },
          "actual_total": { "type": "number", "format": "double" },
          "variance": { "type": "number", "format": "double" }
        }
      },
      "PurchaseOrder": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "supplier_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "po_number": { "type": "string" },
          "status": { "type": "string", "enum": ["ordered","received","cancelled"] },
          "total_cost": { "type": "number", "format": "double" },
          "shipping_cost": { "type": "number", "format": "double" },
          "tipping_cost": { "type": "number", "format": "double" },
          "miscellaneous_cost": { "type": "number", "format": "double" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedPurchaseOrderResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/PurchaseOrder" } } },
      "PurchaseOrderWithTotals": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "supplier_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "po_number": { "type": "string" },
          "status": { "type": "string", "enum": ["ordered","received","cancelled"] },
          "total_cost": { "type": "number", "format": "double" },
          "shipping_cost": { "type": "number", "format": "double" },
          "tipping_cost": { "type": "number", "format": "double" },
          "miscellaneous_cost": { "type": "number", "format": "double" },
          "items_total": { "type": "number", "format": "double", "description": "Sum of quantity * unit_price across purchase order items" },
          "items_count": { "type": "integer", "description": "Number of items on the purchase order" },
          "created_at": { "type": "string", "format": "date-time" }
        },
        "example": {
          "id": "11111111-1111-1111-1111-111111111111",
          "supplier_id": "22222222-2222-2222-2222-222222222222",
          "branch_id": "33333333-3333-3333-3333-333333333333",
          "po_number": "PO-1001",
          "status": "ordered",
          "total_cost": 1500.5,
          "shipping_cost": 50.0,
          "tipping_cost": 0.0,
          "miscellaneous_cost": 10.0,
          "items_total": 1440.5,
          "items_count": 3,
          "created_at": "2026-01-15T12:34:56Z"
        }
      },
      "PurchaseOrdersWithTotalsResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": true },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/PurchaseOrderWithTotals" } }
        }
        ,
        "example": {
          "ok": true,
          "data": [
            {
              "id": "11111111-1111-1111-1111-111111111111",
              "supplier_id": "22222222-2222-2222-2222-222222222222",
              "branch_id": "33333333-3333-3333-3333-333333333333",
              "po_number": "PO-1001",
              "status": "ordered",
              "total_cost": 1500.5,
              "shipping_cost": 50.0,
              "tipping_cost": 0.0,
              "miscellaneous_cost": 10.0,
              "items_total": 1440.5,
              "items_count": 3,
              "created_at": "2026-01-15T12:34:56Z"
            }
          ]
        }
      },
      "ExpenseCreate": {
        "type": "object",
        "properties": {
          "branch_id": { "type": "string", "format": "uuid" },
          "expense_type": { "type": "string" },
          "description": { "type": "string" },
          "amount": { "type": "number", "format": "double" },
          "expense_date": { "type": "string", "format": "date" }
        }
      },
      "Expense": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "expense_type": { "type": "string" },
          "description": { "type": "string" },
          "amount": { "type": "number", "format": "double" },
          "expense_date": { "type": "string", "format": "date" }
        }
      },
      "CreatedExpenseResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Expense" } } },
      "ReturnCreate": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "reason": { "type": "string" },
          "return_status": { "type": "string", "enum": ["pending","approved","rejected"] }
        },
        "required": ["order_id"]
      },
      "Return": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "order_id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "reason": { "type": "string" },
          "return_status": { "type": "string", "enum": ["pending","approved","rejected"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedReturnResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/Return" } } }
      ,
      "InventoryMovementCreate": {
        "type": "object",
        "properties": {
          "branch_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "movement_type": { "type": "string", "enum": ["sale","restock","return","transfer","adjustment"] },
          "quantity": { "type": "number" },
          "reference_type": { "type": "string" },
          "reference_id": { "type": "string", "format": "uuid" }
        },
        "required": ["movement_type","quantity"]
      },
      "InventoryMovement": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "movement_type": { "type": "string", "enum": ["sale","restock","return","transfer","adjustment"] },
          "quantity": { "type": "number" },
          "reference_type": { "type": "string" },
          "reference_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatedInventoryMovementResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/InventoryMovement" } } },

      "PurchaseOrderItemCreate": {
        "type": "object",
        "properties": {
          "purchase_order_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity": { "type": "number" },
          "cost_price": { "type": "number", "format": "double" }
        },
        "required": ["purchase_order_id","quantity"]
      },
      "PurchaseOrderItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "purchase_order_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity": { "type": "number" },
          "cost_price": { "type": "number", "format": "double" }
        }
      },
      "CreatedPurchaseOrderItemResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/PurchaseOrderItem" } } },

      "ReturnItemCreate": {
        "type": "object",
        "properties": {
          "return_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity": { "type": "number" }
        },
        "required": ["return_id","quantity"]
      },
      "ReturnItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "return_id": { "type": "string", "format": "uuid" },
          "product_variant_id": { "type": "string", "format": "uuid" },
          "quantity": { "type": "number" }
        }
      },
      "CreatedReturnItemResponse": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true }, "data": { "$ref": "#/components/schemas/ReturnItem" } } },

      "SalesPeriodItem": {
        "type": "object",
        "properties": {
          "period": { "type": "string", "format": "date-time", "description": "Truncated period start (day/week/month/year)" },
          "order_count": { "type": "integer" },
          "gross_sales": { "type": "number", "format": "double" },
          "total_discounts": { "type": "number", "format": "double" },
          "net_sales": { "type": "number", "format": "double" },
          "items_sold": { "type": "integer" }
        }
      },
      "SalesOverview": {
        "type": "object",
        "properties": {
          "order_count": { "type": "integer" },
          "gross_sales": { "type": "number", "format": "double" },
          "total_discounts": { "type": "number", "format": "double" },
          "net_sales": { "type": "number", "format": "double" },
          "items_sold": { "type": "integer" },
          "avg_order_value": { "type": "number", "format": "double" }
        }
      },
      "PaymentBreakdownItem": {
        "type": "object",
        "properties": {
          "payment_method": { "type": "string", "enum": ["cash","gcash","bank_transfer","card","cod","prepaid_load"] },
          "transaction_count": { "type": "integer" },
          "total_amount": { "type": "number", "format": "double" }
        }
      },
      "TopProductItem": {
        "type": "object",
        "properties": {
          "product_variant_id": { "type": "string" },
          "sku": { "type": "string" },
          "product_name": { "type": "string" },
          "size": { "type": "string" },
          "color": { "type": "string" },
          "class": { "type": "string" },
          "units_sold": { "type": "integer" },
          "total_revenue": { "type": "number", "format": "double" }
        }
      },
      "CashBreakdownLine": {
        "type": "object",
        "properties": {
          "denomination": { "type": "number", "format": "double", "example": 1000 },
          "quantity": { "type": "integer", "example": 2 },
          "amount": { "type": "number", "format": "double", "example": 2000 }
        },
        "required": ["denomination", "quantity"]
      },
      "CashReconciliationOpenRequest": {
        "type": "object",
        "properties": {
          "branch_id": { "type": "string", "format": "uuid" },
          "business_date": { "type": "string", "format": "date", "example": "2026-07-09" },
          "opening_cash_breakdown": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CashBreakdownLine" }
          },
          "notes": { "type": "string" }
        },
        "required": ["branch_id", "opening_cash_breakdown"]
      },
      "CashReconciliationCloseRequest": {
        "type": "object",
        "properties": {
          "closing_cash_breakdown": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CashBreakdownLine" }
          },
          "notes": { "type": "string" }
        },
        "required": ["closing_cash_breakdown"]
      },
      "CashReconciliation": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "branch_id": { "type": "string", "format": "uuid" },
          "business_date": { "type": "string", "format": "date" },
          "opening_cash_breakdown": { "type": "array", "items": { "$ref": "#/components/schemas/CashBreakdownLine" } },
          "opening_cash_total": { "type": "number", "format": "double" },
          "total_sales_amount": { "type": "number", "format": "double" },
          "cash_sales_amount": { "type": "number", "format": "double" },
          "other_cash_impact_amount": { "type": "number", "format": "double", "description": "Net cash impact from other transactions (e.g., GCash cash_in/cash_out)." },
          "gcash_cash_in_total": { "type": "number", "format": "double", "description": "Total positive cash impact from GCash cash-in transactions." },
          "gcash_cash_out_total": { "type": "number", "format": "double", "description": "Total cash removed through GCash cash-out transactions." },
          "prepaid_load_total": { "type": "number", "format": "double", "description": "Total prepaid load gross sales for the business date." },
          "expected_cash_on_hand": { "type": "number", "format": "double" },
          "closing_cash_breakdown": { "type": "array", "items": { "$ref": "#/components/schemas/CashBreakdownLine" } },
          "actual_cash_on_hand": { "type": "number", "format": "double" },
          "variance_amount": { "type": "number", "format": "double" },
          "is_short": { "type": "boolean" },
          "opened_by": { "type": "string", "format": "uuid" },
          "closed_by": { "type": "string", "format": "uuid" },
          "opened_at": { "type": "string", "format": "date-time" },
          "closed_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CashReconciliationAuditSummary": {
        "type": "object",
        "properties": {
          "cash_sales_amount": { "type": "number", "format": "double" },
          "gcash_cash_in_total": { "type": "number", "format": "double" },
          "gcash_cash_out_total": { "type": "number", "format": "double" },
          "prepaid_load_total": { "type": "number", "format": "double" },
          "net_other_cash_impact_amount": { "type": "number", "format": "double" },
          "total_cash_inflows": { "type": "number", "format": "double" },
          "total_cash_outflows": { "type": "number", "format": "double" },
          "expected_cash_on_hand": { "type": "number", "format": "double" },
          "actual_cash_on_hand": { "type": "number", "format": "double" },
          "variance_amount": { "type": "number", "format": "double" },
          "is_short": { "type": "boolean" }
        }
      },
      "CashReconciliationDailyReport": {
        "allOf": [
          { "$ref": "#/components/schemas/CashReconciliation" },
          {
            "type": "object",
            "properties": {
              "audit_summary": { "$ref": "#/components/schemas/CashReconciliationAuditSummary" }
            }
          }
        ]
      }
    }
  }
}
